.main--about {
    height: fit-content;
}

.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 260px;
    overflow: hidden;

    .about-overlay {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        background: $firm_white;
    }

    .about-controls {
        z-index: 3;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 65px;

        &__link {
            position: relative;
            margin-right: 70px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: $firm_blue;
            transition: all 0.3s ease;

            &:hover {
                color: $firm_red;
                cursor: pointer;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -35px;
                width: 3px;
                height: 26px;
                margin-top: auto;
                margin-bottom: auto;
                display: block;
                background: $firm_blue;

            }

            &--active {
                color: $firm_red;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    .about-container {
        z-index: 2;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition: all 0.6s ease;

        &__header {
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            color: $firm_blue;
        }

        &__links-container {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &__link-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        &__link-description {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: $firm_blue;
        }

        &__link {
            margin-left: 20px;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: $firm_red;
        }

        &__section-header {
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            color: $firm_blue;

        }

        &__section-par {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $firm_blue;
        }

        &__structure-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            margin-bottom: 25px;
            max-height: 30px;
            transition: all 0.3s ease;
            overflow: hidden;

            .structure-container__header {
                position: relative;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: $firm_blue;

                &::after {
                    content: url(./assets/images/content/arrow.svg);
                    position: absolute;
                    top: 0;
                    right: -20px;
                    bottom: 0;
                    display: block;
                    margin-top: auto;
                    margin-bottom: auto;
                    transition: all 0.3s ease;
                }
            }

            .structure-container__content {
                display: flex;
                flex-direction: column;
                align-items: start;

                &-header {
                    margin-bottom: 10px;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 120%;
                    color: $firm_blue;
                }

                &-main {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 120%;
                    color: $firm_blue;
                }
            }

            &--active-tab {
                max-height: 300px;

                .structure-container__header {
                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}

.js-hide-opacicity {
    z-index: -1 !important;
    position: absolute !important;
    top: -300%;
    left: -100%;
    opacity: 0;
    height: 0 !important;
}