.header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 8px 160px;
    box-shadow: 0px 2px 10px 2px #333F48;
}

.logo {
    display: flex;
    align-items: center;

    &-name {
        margin-left: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: $light_black;
        font-weight: 700;
    }

    &-image {
        width: 45px;
        height: 45px;
    }
}

.social-container {
    margin-left: auto;

    &__link {
        margin-right: 20px;

        path {
            transition: all 0.3s ease;
        }

        &:hover {
            path {
                fill: $default_blue;
            }
        }
    }
}

.account {
    cursor: pointer;

    path {
        transition: all 0.3s ease;
    }

    &:hover {
        path {
            fill: $default_blue;
        }
    }

    .loggedOFF {
        display: block;
    }

    .loggedIN {
        display: none;
    }

    &--logged {

        .loggedOFF {
            display: none;
        }

        .loggedIN {
            display: block;
        }

    }
}