.footer-navigation {
    display: none;
}

.opener {
    display: none;
}

@media screen and (min-width: 1441px) {

    .greeting-section,
    .why-section,
    .adt-section,
    .subs-section,
    .form-section,
    .header,
    .footer,
    .main-profile,
    .news-section {
        padding-left: calc(calc(100% - 1120px) / 2);
        padding-right: calc(calc(100% - 1120px) / 2);
    }

    .form-small {
        right: calc(calc(100% - 1120px) / 2);
    }
}


@media screen and (max-width: 1340px) {

    .greeting-section,
    .why-section,
    .adt-section,
    .subs-section,
    .form-section,
    .header,
    .footer,
    .main-profile,
    .news-section {
        padding-left: 80px;
        padding-right: 80px;
    }

    .form-small {
        right: 80px;
    }
}

@media screen and (max-width: 1170px) {

    .greeting-section,
    .why-section,
    .adt-section,
    .subs-section,
    .form-section,
    .header,
    .footer,
    .main-profile,
    .news-section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-small {
        right: 40px;
    }
}

@media screen and (max-width: 630px) {

    .greeting-section,
    .why-section,
    .adt-section,
    .subs-section,
    .form-section,
    .header,
    .footer,
    .main-profile,
    .news-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 420px) {

    .greeting-section,
    .why-section,
    .adt-section,
    .subs-section,
    .form-section,
    .header,
    .footer,
    .main-profile,
    .news-section {
        padding-left: 16px;
        padding-right: 16px;
    }
}