.main {
    width: 100vw;
    height: fit-content;
    min-height: calc(100vh);


    &::after {
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url(./assets/images/content/background1.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    &::before {
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: $light_black, $alpha: 0.7);
        z-index: 2;
    }
}

.greeting-section {
    position: relative;
    width: 100vw;
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 160px;
    z-index: 3;
}

.container {
    display: flex;

    &--vertical {
        flex-direction: column;
    }

    &--horizontal {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

.page-header {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: $white;
}

.header-list {
    display: flex;
    flex-direction: column;
    align-items: start;

    .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $white;
    }

    .list-bullet {
        width: 6px;
        height: 6px;
        margin-right: 4px;
        background: $white;
        border-radius: 120px;
    }
}

.form-small {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 160px;
    margin-top: auto;
    margin-bottom: auto;
    width: 264px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;

    &__header {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: $light_black;
    }

    &__input {
        width: 100%;
        padding: 13px 12px;
        margin-bottom: 15px;
        background: $white;
        border: 2px solid $white;
        border-radius: 37px;
        outline: none;
        transition: all 0.3s ease;

        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #787B7C;
        }

        &:hover {
            cursor: pointer;
            color: $default_blue;
        }

        &:focus {
            border: 2px solid $hover_yellow;
        }

        &:focus {
            color: $default_blue;
            font-size: 13px;
        }
    }

    &__button {
        width: 157px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        background: $default_blue;
        border-radius: 30px;
        border: none;
        outline: none;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background: $hover_yellow;
        }
    }
}

.why-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 160px;
    position: relative;
    z-index: 3;

    &:hover {
        .why-card {
            &:nth-child(2) {
                transform: translateY(0px);
            }

            &:nth-child(4) {
                transform: translateY(0px);
            }

            &:nth-child(1) {
                transform: translateY(100px);
            }

            &:nth-child(3) {
                transform: translateY(100px);
            }
        }
    }

    .container--horizontal {
        flex-wrap: wrap;
    }
}

.section-header {
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: $white;
    position: relative;
    z-index: 3;
}

.why-card {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    .container {
        align-items: center;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    &__img {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    &__header {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: $light_black;
    }

    &__caption {
        font-size: 18px;
        line-height: 120%;
        color: $default_blue;
    }

    &:nth-child(1) {
        transform: translateY(0px);
    }

    &:nth-child(3) {
        transform: translateY(0px);
    }

    &:nth-child(2) {
        transform: translateY(100px);
    }

    &:nth-child(4) {
        transform: translateY(100px);
    }
}

.adt-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 160px 80px;
    position: relative;
    z-index: 3;

    .container--horizontal {
        &:last-child {
            margin-top: 15px;
        }
    }
}

.adt-card {
    width: calc(25% - 10px);
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;

    &__images {
        width: 100%;
        height: 100%;
        max-height: 150px;

        .swiper {
            position: relative;
            width: 100%;
            height: 100%;

            &-wrapper {
                width: 100%;
                height: 100%;
            }

            &-slide {
                position: relative;
                width: 100% !important;
                height: 100%;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: $light_black, $alpha: 0.4);
                }

                img {
                    width: 100%;
                    height: 100%;


                }
            }

            .pagination-container {
                position: absolute;
                left: 0;
                z-index: 3;
                bottom: 8px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 16px;

                .swiper-pagination {
                    position: static;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-bullet {
                        border-radius: 0px;
                        width: 100%;
                        height: 3px;
                        margin-right: 5px;
                        background: rgba($color: $white, $alpha: 0.5);
                        opacity: 1;

                        &-active {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 8px 16px;
    }

    &__header {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: $light_black;
        margin-bottom: 12px;
    }

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        height: 12px;
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__caption {
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        color: $light_black;
    }
}

.subs-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 160px;
    position: relative;
    z-index: 3;
}

.sub-card {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 20px;
    background: #FFFFFF;
    border: 3px solid $default_blue;
    border-radius: 16px;

    &--active {
        border: 3px solid $hover_yellow;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: $light_black;
    }

    &__logo {
        margin-right: 16px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__list-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__bullet {
        width: 8px;
        height: 8px;
        min-width: 8px;
        min-height: 8px;
        max-width: 8px;
        max-height: 8px;
        margin-right: 16px;
        border-radius: 50%;
        background: $light_black;
    }

    &__item-content {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: $light_black;
    }
}


.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 160px;
    position: relative;
    z-index: 3;
}

.form-container {
    width: 100%;
    padding: 20px 60px;
    background: linear-gradient(0deg, rgba($color: $light_black, $alpha: 0.5), rgba($color: $light_black, $alpha: 0.5)),
        url(./assets/images/content/background1.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-attachment: fixed;
    border-radius: 16px;

    .container--horizontal {
        align-items: center;
    }

    &__header-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__header {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 56px;
        line-height: 70px;
        color: $white;
    }

    &__subheader {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: $white;
    }

    &__form {
        width: 264px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__label {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }

    &__input {
        width: 100%;
        padding: 13px 12px;
        margin-bottom: 15px;
        background: $white;
        border: 2px solid $white;
        border-radius: 37px;
        outline: none;
        transition: all 0.3s ease;

        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #787B7C;
        }

        &:hover {
            cursor: pointer;
            color: $default_blue;
        }

        &:focus {
            border: 2px solid $hover_yellow;
        }

        &:focus {
            color: $default_blue;
            font-size: 13px;
        }
    }

    &__button {
        width: 157px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        background: $default_blue;
        border-radius: 30px;
        border: none;
        outline: none;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background: $hover_yellow;
        }
    }
}