@media screen and (max-width: 1850px) {

    .greeting-container,
    .search-form,
    .action-container,
    .collab-container,
    .cross-container,
    .form-section,
    .footer {
        padding-left: 160px;
        padding-right: 160px;
    }

    .header {
        padding-left: 149px;
        padding-right: 160px;
    }

    .action-card__img {
        width: 150px;
        height: 150px;
    }

    .footer .footer-logo {
        right: 160px;
    }
}

@media screen and (max-width: 1500px) {
    .action-card {
        padding: 20px;
    }

    .action-card__img {
        right: 0;
    }

    .book-container {
        max-width: 650px;
    }

    .greeting-container {
        background-position: center;
    }

    .action-card__subheader {
        max-width: 300px;

        br {
            display: none;
        }
    }

    .action-card__header {
        font-size: 40px;
    }

    .action-container {
        height: 305px;
    }
}

@media screen and (max-width: 1380px) {

    .greeting-container,
    .search-form,
    .action-container,
    .collab-container,
    .cross-container,
    .form-section,
    .footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .header {
        padding-left: 69px;
        padding-right: 80px;
    }

    .footer .footer-logo {
        right: 80px;
    }
}

@media screen and (max-width: 1260px) {
    .greeting-container__header {
        font-size: 32px;
        margin-bottom: 50px;
    }

    .greeting-container {
        padding-top: 80px;
        height: 600px;
    }

    .book-container {
        max-width: 560px;
    }

    .section-header {
        font-size: 24px;
    }

    .collab-container__header {
        font-size: 40px;
    }

    .form-section__form-content {
        padding: 40px 20px;
    }

    .form-section__header {
        width: 100%;
    }

    .form-section__subheader {
        width: 100%;
        text-align: left;
    }

    .header--extended {
        transform: translateY(-1000px);
    }
}

@media screen and (max-width: 1180px) {

    .greeting-container,
    .search-form,
    .action-container,
    .collab-container,
    .cross-container,
    .form-section,
    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header {
        padding-left: 29px;
        padding-right: 40px;
    }

    .footer .footer-logo {
        right: 40px;
    }

    .book-special {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .book-container {
        max-width: 100%;
        width: 100%;
    }

    .link-container {
        margin-top: 60px;
        max-width: 100%;
        width: 100%;
    }

    .link-container .link-swiper .link-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    .link-container {
        margin-top: 20px;
    }

    .link-container .link-swiper .link-container {
        margin-top: 0;
    }

    .collab-container,
    .cross-container,
    .action-container {
        margin-bottom: 20px;
    }

    .greeting-container__header {
        font-size: 28px;
    }

    .greeting-container__subheader {
        font-size: 16px;
    }

    .action-card__header {
        font-size: 28px;
    }
}

@media screen and (max-width: 980px) {
    .greeting-container {
        padding-top: 40px;
        height: 470px;
    }

    .form-section__form-content {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .form-section__header-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-section__header {
        text-align: center;
    }

    .form-section__subheader {
        text-align: center;
    }

    .form-section__form {
        width: 100%;
    }

    .footer-address,
    .footer-caption,
    .footer-email,
    .footer-phone {
        font-size: 12px;
    }

    .footer-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 920px) {
    .header__navigation {
        display: none;
    }

    .header .cross--red {
        display: none;
    }

    .header .cross {
        height: 6px;
    }

    .search-form__filter-container {
        display: none;
    }

    .search-form__input {
        width: 100%;
    }

    .action-card__img {
        top: 10px;
        right: 10px;
        width: 100px;
        height: 100px;
    }

    .action-container {
        height: 280px;
    }

    .greeting-container {
        background-size: cover;
    }
}

@media screen and (max-width: 760px) {

    .greeting-container,
    .search-form,
    .action-container,
    .collab-container,
    .cross-container,
    .form-section,
    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-left: 9px;
        padding-right: 16px;
    }

    .footer .footer-logo {
        right: 16px;
    }

    .action-card__img {
        width: 80px;
        height: 80px;
    }

    .greeting-container__header {
        font-size: 24px;
    }

    .book-container .book-swiper .book-header {
        font-size: 12px;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .action-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: fit-content;
    }

    .action-card {
        width: 100%;
        height: 240px;
        margin-bottom: 20px;
    }

    .action-card__subheader {
        max-width: 100%;
    }

    .collab-container__header {
        font-size: 24px;
        line-height: 120%;
    }

    .collab-container {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .footer .footer-logo {
        width: 130px;
        height: 130px;
    }

    .footer-header {
        br {
            display: none;
        }
    }
}

@media screen and (max-width: 590px) {
    .news-container .news-swiper .news-header {
        font-size: 12px;
        line-height: 120%;
    }

    .news-container .news-swiper .swiper-wrapper {
        height: 340px;
    }

    .greeting-container__header {
        font-size: 20px;
        margin-bottom: 20px;

        br {
            display: none;
        }
    }

    .greeting-container {
        padding-top: 30px;
        padding-bottom: 30px;
        height: fit-content;
    }

    .form-section__header {
        font-size: 26px;
    }

    .form-section__form-content {
        padding: 20px 16px;
    }

    .footer-header {
        font-size: 16px;
        line-height: 140%;
    }

    .footer-address,
    .footer-email,
    .footer-phone {
        margin-bottom: 8px;
    }

    .section-header {
        font-size: 20px;
    }

    .action-card__header {
        font-size: 20px;
    }

    .action-card__img {
        top: 10px;
        right: 10px;
        width: 70px;
        height: 70px;
    }


}

@media screen and (max-width: 520px) {
    .collab-container__subheader {
        font-size: 14px;
        line-height: 140%;
    }

    .swiper-button {
        width: 25px !important;
        height: 25px !important;
        background-size: 20% !important;
    }

    .button-group {
        width: 60px !important;
    }

    .greeting-container__subheader {
        font-size: 12px;
    }

    .header {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .main {
        margin-top: 66px;
    }
}

@media screen and (max-width: 495px) {
    .form-section__form-label {
        font-size: 12px;
        display: flex;
        align-items: center;
        height: 20px;
    }

    .form-section__form-checkbox+label::before {
        height: 15px;
        width: 15px;
        top: 0;
    }

    .form-section__form-checkbox:checked+label::after {
        top: 7px;
        left: 7px;
    }

    .form-section__subheader {
        font-size: 12px;
    }

    .action-card__action-link,
    .collab-container__link {
        height: 35px;
    }

    .footer .footer-logo {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .search-form__submit-button {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 25px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 3;
    }

    .collab-container__subheader {
        font-size: 12px;
    }

    .search-form__container {
        width: 100%;
    }

    .search-form {
        position: relative;
    }

    .form-section__form-label {
        display: inline;
        line-height: 150%;
    }

    .form-section__form-content {
        padding-bottom: 40px;
    }

    .form-section__form-checkbox+label::before {
        top: 5px;
    }

    .greeting-container__header {
        font-size: 16px;
    }

    .header__logo {
        width: 160px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .header .accessebility-toggler {
        width: 40px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main {
        margin-top: 54px;
    }

    .action-card {
        padding: 10px;
        height: 220px;
    }

    .action-card__img {
        top: 5px;
        right: 5px;
        width: 60px;
        height: 60px;
    }

    .header .cross {
        height: 3px;
        width: 25px;
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 370px) {
    .news-container .news-swiper .news-container {
        width: 100%;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.34);
    }

    .greeting-container__header {
        font-size: 14px;
    }

    .search-form__input {
        width: 90%;
    }

    .action-container,
    .collab-container,
    .cross-container,
    .footer,
    .form-section,
    .greeting-container,
    .header,
    .search-form {
        padding-right: 10px;
        padding-left: 10px;
    }

    .collab-container__header {
        font-size: 20px;
    }

    .section-header {
        font-size: 16px;
    }

    .form-section__header {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .form-section__form-content {
        padding: 10px;
        padding-bottom: 35px;
    }

    .footer-caption {
        font-size: 10px;
        line-height: 120%;
    }

    .footer-address,
    .footer-email,
    .footer-phone {
        font-size: 10px;
        line-height: 120%;
        margin-bottom: 5px;
    }
}