@media screen and (max-width: 1850px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1380px) {}

@media screen and (max-width: 1260px) {}

@media screen and (max-width: 1180px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 920px) {}

@media screen and (max-width: 760px) {}

@media screen and (max-width: 590px) {}

@media screen and (max-width: 520px) {}

@media screen and (max-width: 495px) {}

@media screen and (max-width: 440px) {}

@media screen and (max-width: 370px) {}

@media screen and (max-width: 1850px) {
    .about-section {
        padding-left: 160px;
        padding-right: 160px;
    }
}

@media screen and (max-width: 1380px) {
    .about-section {
        padding-left: 80px;
        padding-right: 80px;
    }
}


@media screen and (max-width: 1180px) {
    .about-section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .about-section .about-controls {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 980px) {
    .about-section .about-controls__link {
        font-size: 24px;
    }

    .about-section .about-container__header {
        font-size: 22px;
    }

    .about-section .about-container__link,
    .about-section .about-container__link-description {
        font-size: 18px !important;
    }

    .about-section .about-container__section-header {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .about-section .about-container__structure-container .structure-container__header {
        font-size: 20px;
    }

    .about-section .about-container__structure-container .structure-container__content-header {
        font-size: 18px;
    }

    .about-section .about-container__structure-container .structure-container__content-main {
        font-size: 14px;
    }

    #map {
        height: 400px !important;
    }
}

@media screen and (max-width: 760px) {
    .about-section {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main--about+.footer {
        margin-top: 0 !important;
    }

    .about-section .about-controls__link {
        margin-right: 40px;
    }

    .about-section .about-controls__link::after {
        right: -20px;
    }
}

@media screen and (max-width: 630px) {
    .about-section .about-controls__link {
        font-size: 20px;
        margin-right: 20px;
    }

    .about-section .about-controls__link::after {
        right: -10px;
        height: 20px;
        width: 2px;
    }
}

@media screen and (max-width: 590px) {
    .about-section .about-container__link-container {
        display: inline;
    }

    .about-section .about-container__link {
        margin-left: 5px;
    }

    .about-section .about-container__header {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 15px;
    }

    .about-section .about-container__link-container {
        margin-bottom: 5px;
    }

    .about-section .about-container__links-container {
        margin-bottom: 10px;
    }

    .about-section .about-controls {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 495px) {
    .about-section .about-controls {
        flex-wrap: wrap;
    }

    .about-section .about-container__structure-container .structure-container__header {
        font-size: 16px;
    }

    .about-section .about-container__structure-container .structure-container__header::after {
        width: 10px;
        height: 10px;
        top: -10px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        background-position: center;
    }

    .about-section .about-container__structure-container {
        max-height: 25px;
        margin-bottom: 15px;
    }

    .about-section .about-container__structure-container--active-tab {
        max-height: 300px;
    }

    .about-section .about-container__structure-container--active-tab .structure-container__header::after {
        top: 2px;
        right: -23px;
    }

    .about-section .about-controls {
        margin-bottom: 5px;
    }

    #map {
        height: 250px !important;
    }

    .about-section .about-container__section-par {
        font-size: 14px;
        line-height: 130%;
    }
}

@media screen and (max-width: 440px) {
    .about-section .about-container__header {
        font-size: 16px;
    }

    .about-section .about-controls__link {
        line-height: 30px;
    }

    .about-section .about-container__link,
    .about-section .about-container__link-description {
        font-size: 12px !important;
        line-height: 130%;
    }

    #map {
        height: 200px !important;
    }
}

@media screen and (max-width: 370px) {
    .about-section {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}