.news-control {
    display: flex;
    align-items: center;
    margin-bottom: 55px;

    &__toggler {
        margin-right: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        path {
            transition: all 0.3s ease;
        }

        &:hover path {
            stroke: $firm_red;
        }

        &:hover .weird-svg {
            stroke: none;
            fill: $firm_red;
        }

        &--active path {
            stroke: $firm_red;
        }

        &--active .weird-svg {
            stroke: none;
            fill: $firm_red;
        }
    }
}

.news-section {
    z-index: 3;
    width: 100%;
    padding: 80px 260px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .news-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
        background: $firm_white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.34);
        border-radius: 22px;
        transition: all 0.3s ease;

        &--32p {
            max-width: 32%;
        }

        &--49p {
            max-width: 49%;
        }

        &__img {
            width: 100%;
            border-radius: 22px 22px 0 0;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 20px;
        }

        &__info {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #9D9D9C;
        }

        &__date {
            margin-right: 8px;
        }

        &__tag {
            margin-right: 8px;
        }

        &__header {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $firm_blue;
        }

        &__link {
            width: 165px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: $firm_red;
            color: $firm_white;
            transition: all 0.3s ease;

            &:hover {
                color: $firm_white;
                transform: scale(1.05);
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        margin-top: 100px;

        &-link {
            margin-right: 5px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $firm_blue;
            transition: all 0.3s ease;
            cursor: pointer;

            &--active {
                color: $firm_red;
            }

            &:hover {
                color: $firm_red;
            }
        }
    }
}