body {
    font-family: "SB Sans Display";
    font-weight: 500;
    width: 100vw;
    overflow-x: hidden;
    cursor: default;
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: $firm_blue;
    transition: all 0.3s ease;

    &:hover {
        color: $firm_red;
    }
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background-color: $firm_white;
}

html::-webkit-scrollbar-thumb {
    box-shadow: inset 100px 100px 100px $firm_blue;
    border-radius: 16px;
}

.page-header {
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: $firm_blue;
}

.js--hidden {
    display: none !important;
}