.main-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 61px);
}

.rcl-loginform {
    position: relative;
    z-index: 3;
    width: 100vw;
    height: calc(100vh - 61px);
}

.sign-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 16px;

    &__header {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: $light_black;
    }

    form {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 13px 12px;
        margin-bottom: 15px;
        background: $white;
        border: 2px solid $default_blue;
        border-radius: 37px;
        outline: none;
        transition: all 0.3s ease;

        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #787B7C;
        }

        &:hover {
            cursor: pointer;
            color: $default_blue;
        }

        &:focus {
            border: 2px solid $hover_yellow;
        }

        &:focus {
            color: $default_blue;
            font-size: 13px;
        }
    }

    .rcli {
        display: none !important;
    }

    a {
        margin-top: 10px;
        width: 100%;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        background-color: $default_blue !important;
        border-radius: 30px;
        border: none;
        outline: none;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: $hover_yellow !important;
        }
    }

    .form_extend span {
        display: none;
    }

    .caption {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: $light_black;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            color: $hover_yellow;
        }
    }
}