body * {
    box-sizing: border-box;
    font-family: "SB Sans Display" !important;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-x: hidden;
    cursor: default;
}

.js-hide-opacicity {
    z-index: -1 !important;
    position: absolute !important;
    top: -300%;
    left: -100%;
    opacity: 0;
    height: 0 !important;
}

.js--hidden {
    display: none !important;
}