$firm_blue : #002C42;
$firm_red : #E5332A;
$firm_light_gray: rgba(0, 0, 0, 0.25);
$firm_middle_gray : rgba(0, 0, 0, 0.34);
$firm_dark_gray : rgba(0, 0, 0, 0.50);
$firm_black: #333F48;
$firm_white: #FFFFFF;